<p>This is the partial for {{viewName}}.</p>

<div class="container">
  <div class="jumbotron">
    <div>
      <div>
      <!-- Single button -->
      Pick
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentCount}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="count in pickCounts"><a ng-click="pickCount(count)">{{count}}</a></li>
        </ul>
      </div>
        in the country
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentCountry.name}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="country in countries"><a ng-click="pickCountry($index)">{{country.name}}</a></li>
        </ul>
      </div>
      </div>
      <div>
      in the game
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentCountryJson.games[currentGameIndex].name}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="game in currentCountryJson.games"><a ng-click="pickGame($index)">{{game.name}}</a></li>
        </ul>
      </div>
      </div>
      <p>
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentNumber}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="number in pickNumbers"><a ng-click="pickNumber(number)">{{number}}</a></li>
        </ul>
      </div>
      numbers, the highest of which is
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentHighNumber}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="number in pickHighNumbers"><a ng-click="pickHighNumber(number)">{{number}}</a></li>
        </ul>
      </div>
      </p>
      <p>
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentExtra}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="extra in pickExtras"><a ng-click="pickExtra(extra)">{{extra}}</a></li>
        </ul>
      </div>
      extras, the highest of which is
      <div class="btn-group" dropdown> <!-- is-open="status.isopen" -->
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentHighExtra}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="extra in pickHighExtras"><a ng-click="pickHighExtra(extra)">{{extra}}</a></li>
        </ul>
      </div>
      </p>
      <p>
        <a class="btn btn-lg btn-success" ng-click="pickTickets()" role="button" ng-disabled="progress.visible">Pick Tickets</a> <!-- TODO: add timeout to reenable button in case picking failes in the middle -->
      </p>
      <p ng-show="progress.visible">
        <progressbar max="progress.max" value="progress.dynamic"><span style="color:black; white-space:nowrap;">{{progress.dynamic}} / {{progress.max}}</span></progressbar>
      </p>
      <p>
        <div ng-show="!progress.visible && tickets.stringified.length > 0" class="panel panel-default">
          <!-- Default panel contents -->
          <!--
          <div class="panel-heading">Your tickets</div>
          <div class="panel-body">
            <p>{{tickets | json}}</p>
          </div>
          -->
          <table class="table table-hover">
            <thead>
              <td>Numbers</td>
              <td ng-show="tickets.extrasVisible">Extras</td>
            </thead>
            <tbody>
              <tr ng-repeat="ticket in tickets.stringified" >
                <td>{{ticket.numbers}}</td>
                <td ng-show="tickets.extrasVisible">{{ticket.extras}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p>
    </div>
  </div>
</div>