<p>This is the partial for {{viewName}}.</p>

<div class="container">
  <div class="jumbotron">
    <div>
      <!-- Single button -->
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle btn-lg" dropdown-toggle ng-disabled="disabled">
          {{currentCount}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="count in pickCounts"><a ng-click="pickCount(count)">{{count}}</a></li>
        </ul>
      </div>
      <p>
        <a class="btn btn-lg btn-success" ng-click="pickTickets()" role="button">Pick Tickets</a>
      </p>
      <p>
        <progressbar max="progress.max" value="progress.dynamic"><span style="color:black; white-space:nowrap;">{{progress.dynamic}} / {{progress.max}}</span></progressbar>
      </p>
      <p>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <!--
          <div class="panel-heading">Your tickets</div>
          <div class="panel-body">
            <p>{{tickets | json}}</p>
          </div>
          -->
          <table class="table table-hover">
            <thead>
              <td>Numbers</td>
              <td ng-show="tickets.extrasVisible">Extras</td>
            </thead>
            <tbody>
              <tr ng-repeat="ticket in tickets.stringified" >
                <td>{{ticket.numbers}}</td>
                <td ng-show="tickets.extrasVisible">{{ticket.extras}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p>
    </div>
  </div>
</div>